.ss-gridfield .gridfield-pagination-showall {
	width: 250px;
	display: inline-block;
	line-height: 28px;
	color: #FFFFFF;
	font-size: 120%;
}

.ss-gridfield .datagrid-pagination {
	display: inline-block;
	line-height: 28px;
}
